body {
    background: rgb(35, 156, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.title-block {
    text-align: center;
    color: rgb(255, 245, 100);
}

.nav-link {
    text-decoration: none;
    font-size: 20;
    color: rgb(255, 248, 148);
    padding-top: 150;
}

a:link {
    text-decoration: none;
    font-size: 20;
    color: rgb(255, 248, 148);
}

a:visited {
    text-decoration: none;
    font-size: 20;
    color: rgb(255, 248, 148);
}
